* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: url('img/Alvorada.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); /* Glassmorphism effect */
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed; /* Ensure it stays at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays above other elements */
}

.navbar .logo img {
    max-height: 50px;
    height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        text-align: center;
        flex-direction: column;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links li a {
        font-size: 20px;
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    font-size: large;
}

main {
    padding-top: 1%;
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.botao-iniciar {
    display: inline-block;
    background: rgba(0, 0, 0, 0.3); /* Fundo com transparência */
    color: white;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 30px; /* Botão arredondado */
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    
    /* Efeito de Glassmorphism */
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    -webkit-backdrop-filter: blur(10px); /* Para navegadores WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordas sutis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Efeito ao passar o mouse (hover) */
.botao-iniciar:hover {
    background: rgba(0, 0, 0, 0.5); /* Aumenta a opacidade ao passar o mouse */
    transform: translateY(-3px); /* Eleva ligeiramente o botão */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* Sombra maior ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .botao-iniciar {
        font-size: 1em;
        padding: 12px 25px;
    }
}

.sessao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;
}

.glassmorphism {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.glassmorphism .conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.glassmorphism .conteudo img {
    max-width: 200px;
    border-radius: 10px;
}

.glassmorphism h2 {
    color: white;
}
.glassmorphism h1 {
    color: white;
}.glassmorphism p {
    color: white;
}.glassmorphism h3 {
    color: white;
}

.imagem-capa {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.carrossel {
    display: none;
    position: relative;
    width: 98%;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.carrossel-imagens {
    position: relative;
    width: 100%;
    height: 100%;
}

.carrossel-imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none;
}

.carrossel-imagens img.active {
    display: block;
}

button.prev {
    left: 10px;
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.next {
    right: 10px;
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.container-progresso {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

.container-progresso h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.wrapper-progresso {
    position: relative;
    width: 100%;
}

progress {
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #ddd;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background: red;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background: red;
    border-radius: 10px;
}

#texto-progresso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #000;
}

footer {
    text-align: center;
    padding: 5px; /* Reduced padding */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerVisita {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 5px; /* Reduced padding */
}
/*------------------------------------------------------------------------------
/* Já existente, mantido aqui para contexto */

/* Ajustes no formulário para garantir a posição correta do botão */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}

.form-container input,
.form-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
}

/* Botão de Salvar Visita */
.form-container .btn-save {
        display: inline-block;
        background: rgba(0, 0, 0, 0.3); /* Fundo com transparência */
        color: white;
        font-size: 1.2em;
        padding: 15px 30px;
        border-radius: 30px; /* Botão arredondado */
        text-decoration: none;
        text-align: center;
        transition: all 0.3s ease;
        
        /* Efeito de Glassmorphism */
        backdrop-filter: blur(10px); /* Desfoque do fundo */
        -webkit-backdrop-filter: blur(10px); /* Para navegadores WebKit */
        border: 1px solid rgba(255, 255, 255, 0.2); /* Bordas sutis */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-container .btn-save:hover {
    background: rgba(0, 0, 0, 0.5); /* Aumenta a opacidade ao passar o mouse */
    transform: translateY(-3px); /* Eleva ligeiramente o botão */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* Sombra maior ao passar o mouse */
}

/* Calendário */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar div {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
}

.calendar div:hover {
    background-color: #c5e1a5;
}

/* Marcação de visita no calendário */
.calendar div.visita {
    background-color: #ffeb3b; /* Marca o dia com uma cor amarela clara */
    color: #fff;
    font-weight: bold;
}
/* Estilos para os botões de navegação */
.navegacao-mes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-nav {
    display: inline-block;
    background: rgba(0, 0, 0, 0.3); /* Fundo com transparência */
    color: white;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 30px; /* Botão arredondado */
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease; 
    /* Efeito de Glassmorphism */
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    -webkit-backdrop-filter: blur(10px); /* Para navegadores WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordas sutis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */        
}

.btn-nav:hover {
    background: rgba(0, 0, 0, 0.5); /* Aumenta a opacidade ao passar o mouse */
    transform: translateY(-3px); /* Eleva ligeiramente o botão */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* Sombra maior ao passar o mouse */
}



/* Estilo do Popup */
#visit-popup {
    position: fixed; /* Usando fixed para garantir que fique sobre a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garantir que o popup fique no topo */
}

/* Conteúdo do Popup */
#visit-popup .popup-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

/* Botão de fechar */
#visit-popup .btn-close {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 600px;
    right: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    padding: 8px;
    border-radius: 50%;
    z-index: 1001; /* Garante que o botão fique por cima */
}

/* Efeito de hover para o botão de fechar */
#visit-popup .btn-close:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}


#visit-popup .popup-content h2,
#visit-popup .popup-content p {
    margin-bottom: 10px;
}
